:root {
  --bs-body-bg: var(--bs-gray-100);
}

.parallax {
	/* image used */
	background-image: url("img/parallax.jpg");
	/* specific height */
	min-height: 300px;
	max-height: 300px;
	/* parallax effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.modal-footer{
	/* make bottom margin for modal footers and names in the team section */
	margin-bottom: 20px;
}

html {
	/* making space for the header */
	scroll-padding-top: 50px;
}

h1 {
	/* moving the section headers a wee bit */
	margin-left: -5px;
}

h3 {
	/* moving the subsection headers a wee bit */
	margin-left: -5px;
}

img {
	/* padding and margin for images*/
	padding: 10px;
	margin: 10px;
}